{% extends 'base.html' %}

{% block body %}
<div>
   <style type="text/css">
      .index{margin-top: 50px;}
      .table{width: 75%;}
   </style>
   <div class="index">
    
    <table class="table">
      {% if (question == 1) %}
        <thead class="thead-dark"><tr><th>Carrier</th><th>Name</th></tr></thead>
          {% for un_result in result %}
          <tr>
            <td>
              {{un_result[0]}}
            </td>
            <td>
              {{un_result[1]}}
            </td>
          </tr>
          {% endfor %}
      {% endif %}
    </table>
    
  </div>
</div>
{% endblock %}
